  .main {
    max-width: 960px;
    margin: auto;    
  }
  
  .title {
    text-align: center;
    margin: 2rem 0;
  }
  
  .title a {
    text-decoration: none;
    color: inherit;
  }

  .main__container {
    padding-top: 0;
  }

  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
  }

  .card {
    height: 90%;
    margin-bottom: 2rem;
    border-radius: 5%;
    transition: 800ms;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.1);    
  }
  
  .product {   
    padding: 2rem;
    margin-bottom: 1rem;
  }
  
  .product__name {
    text-transform: capitalize;
    margin-top: 0;
  }

  .product__image img {
    width:60%;
    height: 60%;
  }

  .div__product {
    margin-bottom: 5rem;
  }

  .product__image-detail img {
    width: 90%;
    animation: appear 2000ms ease-in-out;
  }

  @keyframes appear {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(1) scaleY(1);      
    }
  }

  .btn-primary, .btn-secondary {
    margin-bottom: 1rem;
  }
  
  form {
    margin:50px 75px;
    width: 50%;
  }

  input:invalid {
    color: red;
  }
  
  input:valid {
    color: black;
  }